<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">ir a login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">ir a registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado">ir a listado heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">ir a add heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/editar">ir a editar heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">ir a buscar heroes</a>
    </li>
</ul>