<div fxLayout="column">
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <br>

    <div fxLayout="column">
        <h3>Buscador</h3>

        <mat-form-field>
            <mat-label>Heroe a buscar</mat-label>
            <input type="text" placeholder="Escriba nombre del heroe..." aria-label="Heroe a buscar" matInput
                [(ngModel)]="termino" [matAutocomplete]="auto" (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)="opcionSeleccionada( $event )">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    <p *ngIf="heroes.length > 0">{{ heroe.superhero }}</p>
                    
                </mat-option>
                <mat-option *ngIf="heroes.length === 0 && termino.trim().length > 0" value="">
                  No se encontró ningun resultado para la busqueda "{{ termino }}"
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div *ngIf="heroeSeleccionado">
        <app-heroe-terjea [heroe]="heroeSeleccionado"></app-heroe-terjea>
        <!-- <pre>{{heroeSeleccionado | json}}</pre> -->
    </div>
</div>